<div class="title-cards">
    <h1>Precio</h1>
    <h2>Adquiere uno de nuestros planes en promocion.</h2>
</div>
<div class="container-card">
<div class="card">
<div class="contenido-card">
    <div class="linea1">
    <h3 style="color: black;">Libre</h3>
    </div>
    <div class="letra">
        <h4>0$/mes</h4>
    </div>
    <div class="texto">
    <p>10 usuarios incluidos
    </p><p>2 gb de almacenamiento</p><p>soporte de correo electronico</p><p>acceso al centro de ayuda</p>
    <button type="button"  class="btn btn-outline-primary col-8 m-2">Registrate gratis</button>
    </div>
</div>
</div>
<div class="card">

<div class="contenido-card">
    <div class="linea1">
        <h3 style="color: black;">Pro</h3>
        </div>
        <div class="letra">
            <h4>15$/mes</h4>
        </div>
        <p>20 usuarios incluidos
        </p><p>10 gb de almacenamiento</p><p>soporte prioritario por correo electronico</p><p>acceso al centro de ayuda</p>
    <button type="button" class="btn btn-primary btn-lg col-8 m-2">Empezar</button>
</div>
</div>
<div class="card">

<div class="contenido-card">
    <div class="linea1">
        <h3 style="color: black;">Empresa</h3>
        </div>
        <div class="letra">
            <h4>29$/mes</h4>
        </div>
        <p>30 usuarios incluidos
        </p><p>15 gb de almacenamiento</p><p>soporte telefonico y por correo electronico</p><p>acceso al centro de ayuda</p>
    <button type="button" class="btn btn-primary btn-lg col-8 m-2">Contáctanos</button>
</div>
</div>
</div>